/*
    全局scss变量说明：
    根目录下  vue.config.js中 会调用此文件，并通过webpack注入到所有.vue组件中，
    所以 所有.vue文件中声明了 lang=scss的sytle区块内，均可以调用该文件的变量
*/
$baseColor: red;
html body div {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    font-size: 12px;
    color: #555;
}
